.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  height: 3em;
}

.nav .menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li a {
  text-decoration: none;
  color: white;
  margin-right: 1em;

}

.header{
  font-family: 'Titillium Web', sans-serif;
}
.opaque{
  display: none
}
/*
need
*/
.subtitle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px
}

.img-container {
  height: 130px;
  width: 130px;
  /* background-color: red; */
}

.lang-img{
  margin-left: 10px;
  height:110px;
  width:110px;
  background-color: blue;
}
.submain {
  font-family: 'Nanum Gothic Coding', monospace;
  height: 500px;
}
.p1 {
  background-color: black;
  color: white;
  height: 300px;
  padding-top: 40px;
}

.main-image{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 700px;
  background-image:    url(img/lion.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center bottom;
  z-index: -1;
  filter: grayscale(100%);
}
#main-text {
  color: white;
  font-size: 60px;
}

.mask {
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
  height: 80px;
  background-image: url(img/mask.png)
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: black;
  color: white;
}
.foot {
  display:flex;
  flex-direction:row;
}
.foot p{
  margin-top: 4px;
}
