@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
/* ------- 네이게이션 ------- */

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  height: 3em;
}

.nav .menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav li {
  margin-top: 8%;
  /* flex가 제대로 먹지않아 세로 가운데 정렬하기 위해서  */
}

.nav li a {
  text-decoration: none;
  color: white;
  margin-right: 1em;

}

/* --------------------------- */

/* ------- what we did ------- */

.did {
  display: flex;
  flex-direction: column; /* 축을 세로로 */
  /* 좌우, 위아래 가운데 정렬 */
  justify-content: center;
  align-items: center;
}


.project-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.project-first-line, .project-second-line {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project1, .project2, .project3, .project4 {
  border: 1px solid black;
  width: 40%;
  padding: 10% 5%;
}

.project1 {
  position: relative;
  background-image: url(images/landi_image.png);
  /* height: 100vh; */
  background-size: contain ;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.project-content {
  color: black;
  font-weight: bold;
  font-size: 3em;
}


.w-100 {
  opacity: 0.5;
  width: 100%;
  height: 500px;
}

.d-md-block {
  color: black;
  font-family:'YiSunShinDotumM';
  background-color: white;
  border-radius: 40px;
 
  
}

/* .project-font-background{
  width: 40%;
  background-color: white;
  padding: 0 auto;
} */

/* -------------------------------------- */
.subtitle {
  font-family: 'Titillium Web', sans-serif;
}

.language-img {
  height: 100px;
  width: 100px;
}

.submain {
  height: 150px;
  margin-bottom: 60px;
}
.header{
  font-family: 'Titillium Web', sans-serif;
}
.opaque{
  display: none;
}
/*
need
*/
.subtitle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px
}

.img-container {
  height: 130px;
  width: 130px;
  /* background-color: red; */
}

.lang-img{
  margin-left: 10px;
  height:110px;
  width:110px;
  background-color: blue;
}
.submain {
  font-family: 'Nanum Gothic Coding', monospace;
  height: 500px;
}
.p1 {
  background-color: black;
  color: white;
  height: 300px;
  padding-top: 40px;
}

.main-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image:    url(img/lion.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center bottom;
  z-index: -1;
  filter: grayscale(100%);
}

#main-text {
  font-size: 50px;
  color: #fff;
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 400px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.mask {
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
  height: 80px;
  background-image: url(img/mask.png)
}
.footer {
  /* font-family: 'Nanum Gothic Coding', monospace; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: black;
  color: white;
}
.foot {
  display:flex;
  flex-direction:row;
}
.foot p{
  margin-top: 4px;
}
